html {
	background-color: #000000;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.logo-picture {

	width: 180px;
	height: 90px;
	padding-top: 30px;

}

.logo {

	text-align: center;
}

.white-strip {

	width: 100%;
	border: 1px solid white;
	margin-top: 40px;
	margin-bottom: 40px;

}

.page-header {

	background-color: black;
}

ul {

	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	justify-content: center;
}

.header-menu-item {
	text-decoration: none;
	color: white;
	margin: 8px;
	letter-spacing: .07em;
    font-family: 'Hammersmith One';
	font-size: 16px;
  	display: inline-block;
  	position: relative;
}

.header-menu-item:hover {
	text-decoration: none;
	color: white;
}

.header-menu-item:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: gray;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}



.header-menu-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.user {
	padding-left: 20px;
	text-decoration: none;
	color: white;
	margin: 8px;
	letter-spacing: .07em;
    font-family: 'Hammersmith One';
	font-size: 16px;
  	display: inline-block;
  	position: relative;
}

.header-menu-icon {

	text-decoration: none;
	color: white;
	margin: 8px;
	letter-spacing: .07em;
    font-family: 'Hammersmith One';
	font-size: 16px;
  	display: inline-block;
  	position: relative;

}

.main {
	background-color: white;
}

.page-title {

	padding-top: 50px;
	font-family: 'Hammersmith One';
	font-size: 30px;
	letter-spacing: .07em;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 50px;
}

.items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}

.container {
	max-width: 1200px;
}

.item {
	display: flex;
	flex-direction: column;
	opacity: 0.5;
	margin-right: 25px;
	margin-bottom: 100px;
}

.items:nth-child(3) {
	margin-left: 10;
}

.item:hover {

	transition: opacity .7s;
	opacity: 1;
}

.item-title {

	border: 1px solid lightgray;
	border-radius: 20px;
	color: black;
	font-family: 'Hammersmith One';
	font-size: 18px;
	text-align: center;
	letter-spacing: .1em;
	padding: 8px;
	margin-top: 20px;
	font-weight: 200;
}

.item-picture {
	position: relative;
	justify-content: center;
}

.item:hover .item-title {

	background-color: black;
	border-color: black;
	color: white;
	transition: 0.7s;
}

@media only screen and (max-width: 1024px) {
  .item {
    width: 365px;
  }
  .items:nth-child(2) {
  	margin-left: 100px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1171px) {
  .item {
    width: calc(43.75vw - 17.5px);
    object-fit: cover;
  }

  .item-picture {
  	text-align: : center;
  }

}
