html {
	width: 100%;
}
.slider {

	height: 790px;
	background-repeat: no-repeat;
	width: 100%;
	background-size: 100% 100%;

}


.logo-picture {

	width: 180px;
	height: 90px;
	padding-top: 30px;

}

.logo {

	text-align: center;
}

.white-strip {

	width: 100%;
	border: 1px solid white;
	margin-top: 40px;
	margin-bottom: 40px;

}

ul {

	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	justify-content: center;
}

.header-menu-item {
	text-decoration: none;
	color: white;
	margin: 8px;
	letter-spacing: .07em;
    font-family: 'Hammersmith One';
	font-size: 16px;
  	display: inline-block;
  	position: relative;
}

.header-menu-item:hover {
	text-decoration: none;
	color: white;
}

.header-menu-item:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: gray;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}



.header-menu-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.user {
	padding-left: 20px;
	text-decoration: none;
	color: white;
	margin: 8px;
	letter-spacing: .07em;
    font-family: 'Hammersmith One';
	font-size: 16px;
  	display: inline-block;
  	position: relative;
}

.header-menu-icon {

	text-decoration: none;
	color: white;
	margin: 8px;
	letter-spacing: .07em;
    font-family: 'Hammersmith One';
	font-size: 16px;
  	display: inline-block;
  	position: relative;

}
.slogan {

	font-size: 20px;
    line-height: 43px;
    word-spacing: 8px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .07em;
    height: 140px;
    padding-top: 30px;
    margin-bottom: 120px;
    font-family: 'Hammersmith One';

}

#white {

	padding: 9px 15px;
    background: #000;
    color: #fff;

}

.first-picture {

	display: grid;
	grid-template-columns: 1fr 2fr;
}

.model-picture {

	width: 600px;
	height: 300px;
	margin-left: 40px;


}

.sneakers-picture {
	padding-right: 60px;
}

.container-title {

	font-family: 'Hammersmith One';
	font-size: 26px;
	letter-spacing: .07em;
	padding-top: 5px;
	font-weight: 600;
}

.black-stripe {

	width: 69px;
	border: 6px solid black;
}

.semi-title {

	font-family: 'Hammersmith One';
	font-size: 17px;
	letter-spacing: .07em;
	text-transform: uppercase;

}

.centered {
	text-align: center;
	margin-top: 40px;
}


.footer {

	background-color: black;
	margin-top: 20px;
	color: white;
	padding-top: 150px;
}

.news-subscription {

	font-family: 'Aldrich';
	text-transform: uppercase;
	letter-spacing: .09em;
	font-size: 23px;

}

.news-title {

	font-family: 'Aldrich';
	text-transform: uppercase;
	letter-spacing: .09em;
	font-size: 23px;

}

.footer-containers {

	display: grid;
	grid-template-columns: 1fr 2fr;

}

.subscription {

	background-color: black;
	border: 0;
	border-bottom: 1px solid gray;
	font-size: 17px;
	margin-top: 15px;
	padding-bottom: 7px;
	margin-bottom: 80px;
}